<!DOCTYPE html>
<html lang="en">
<head>

     <title>myDomus</title>
<!--

Known Template

https://templatemo.com/tm-516-known

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="bootstrap.min.css">
     <link rel="stylesheet" href="font-awesome.min.css">
     <link rel="stylesheet" href="owl.carousel.css">
     <link rel="stylesheet" href="owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="favoriteHomes.css">
     <link rel="stylesheet" href="templatemo-style.css">


</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">



     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#" class="navbar-brand">myDomus</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="/profile" class="smoothScroll">Profile</a></li>
                         <li><a href="/shareYourThoughts" class="smoothScroll">Share Your Thoughts</a></li>
                         <li><a href="/favoriteHomes" class="smoothScroll">Favorite Homes</a></li>
                         <li><a href="/logout" class="smoothScroll">Log Out</a></li>
                         <li><a href="https://mauricioacosta.dev/" target="_blank" rel="noopener noreferrer" class="smoothScroll">Contact</a></li>
                         <!-- <li><a href="#courses" class="smoothScroll">Courses</a></li>
                         <li><a href="#testimonial" class="smoothScroll">Reviews</a></li>
                         <li><a href="#contact" class="smoothScroll">Contact</a></li> -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="welcomeMessage" >Welcome, <%=user.local.email%></li>
                        <li><a href="/unlink/local" class="btn btn-default">Unlink</a></li>
                    </ul>

                    <!-- <ul class="nav navbar-nav navbar-right">
                         <li><a href="#"><i class="fa fa-phone"></i> +65 2244 1100</a></li>
                    </ul> -->
               </div>

          </div>
     </section>


     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>myDomus</h1>
                                             <h3>You make smart choices about where you live</h3>
                                             <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                                        </div>
                                   </div>
                              </div>
                         </div>


                    </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature">
       <div class="container">
       <div class="row">

         <% for(var i=0; i<favoriteHomes.length; i++) {%>
            <div class="col-md-4 col-sm-4">
                 <div id="thoughtBox" class="feature-thumb">
                   <ul class="homeList" >

                    <li>
                       <h3 class="introduceHome">Home Address:</h3>


                       <h3 class="exampleHomeStreet"><%= favoriteHomes[i].street %></h3>
                       <h3 class="exampleHomeCity"><%= favoriteHomes[i].city %></h3>
                       <h3 class="exampleHomeState"><%= favoriteHomes[i].state %></h3>
                       <h3 class="exampleHomeZipcode"><%= favoriteHomes[i].zipcode %></h3>



                      <h3 class="homePrice"><%= favoriteHomes[i].amount %></h3>
                      <h3 class="exampleHomeBathrooms"><%= favoriteHomes[i].bathrooms %></h3>
                      <h3 class="exampleHomeBedrooms"><%= favoriteHomes[i].bedrooms %></h3>
                      <h3 class="exampleHomeYearbuilt"><%= favoriteHomes[i].yearBuilt %></h3>
                      <a class="clickToGetMoreInfoOnHome" href="<%= favoriteHomes[i].homeWebPage %>" target="_blank" rel="noopener noreferrer">Click For More Innfo</a>
                      <!-- <p id="save">SAVE</p> -->
                      <p class="deleteHome">DELETE</p>
                   </li>
                  </ul>
                 </div>
            </div>
            <%}%>

          </div>
        </div>


     </section>






     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Headquarter</h2>
                              </div>
                              <address>
                                   <p>50 Milk Street,<br> Boston, MA 02109</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="https://www.linkedin.com/in/mauriciotechdev/" class="fa fa-linkedin" attr="facebook icon" target="_blank" rel="noopener noreferrer"></a></li>
                                   <li><a href="https://twitter.com/mauricioTechDev" target="_blank" class="fa fa-twitter" target="_blank" rel="noopener noreferrer"></a></li>
                                   <!-- <li><a href="#" class="fa fa-instagram"></a></li> -->
                              </ul>

                              <div class="copyright-text">
                                   <p>Copyright &copy; 2019 Company Name</p>

                                   <p>Design: TemplateMo</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p><a href="mailto:mauricioacosta.dev@gmail.com">mauricioacosta.dev@gmail.com</a></p>
                              </address>

                              <!-- <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#home">Top</a></li>
                                        <li><a href="#">Investor</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Refund Policy</a></li>
                                   </ul>
                              </div> -->
                         </div>
                    </div>

                    <!-- <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Newsletter Signup</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="#" method="get">
                                             <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                        </form>
                                        <span><sup>*</sup> Please note - we do not spam your email.</span>
                                   </div>
                              </div>
                         </div>
                    </div> -->

               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="shareYourThoughts.js"></script>
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
     <script src="favoriteHomes.js"></script>

     </body>
     </html>
